name: Nix Flake CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NIXOS_CHANNEL: "25.11"

jobs:
  nix-flake-check:
    name: nix flake check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host:
          - VM-Machine

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-${{ env.NIXOS_CHANNEL }}
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run nix flake check
        run: nix flake check
      
      - name: Test build ${{ matrix.host }}
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.vm -L
